<header class="md:fixed top-0 left-0 w-full mx-auto px-10 py-5 backdrop:blur-3xl bg-[#f3c6c9]">
    <div class="flex flex-row justify-center md:justify-between items-center px-20">
        <div>
            <a href="/">
                <img src="/Logo_Sketches-home.png" class="w-40">
            </a>
        </div>
        <nav class="hidden md:flex flex-row gap-3 text-xl">
            <li><a href="#" class="hover:text-zinc-500 ease-in-out duration-100">Help</a></li>
            <li><a href="#" class="hover:text-zinc-500 ease-in-out duration-100">Tutorial</a></li>
            <li><a href="#" class="hover:text-zinc-500 ease-in-out duration-100">Artist</a></li>
            <li><a href="#" class="hover:text-zinc-500 ease-in-out duration-100">Android</a></li>
        </nav>
    </div>
</header>
<style>
    header {
        z-index: 1000;
    }
</style>